.list--item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(254, 255, 222);
    width: 70%;
    min-width: 280px;
    max-width: 400px;
    height: auto;
    border: none;
    border-radius: 10px;
    position: relative;
    height: 200px;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: rgb(201, 204, 153) rgba(255, 200, 200, 0);
    scrollbar-gutter: stable;
    overflow-y: auto;
    
}

.item--title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.item--description{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.item--date{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.button--delete{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;    
    margin: 5px;
}
.item--delete{
    width: 32px;
    height: 32px;
    background-image: url('../assets/svg/delete.svg');
}

.button--delete:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.button--checked{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;    
    margin: 5px;
}

.item--done{
    width: 32px;
    height: 32px;
    background-image: url('../assets/svg/checked.svg');
}

.button--checked:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}