.list--item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: whitesmoke;
    width: 70%;
    min-width: 280px;
    max-width: 400px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.list--item:hover{
    background-color: rgb(180, 180, 180);
    color: var(--light-brown);
}

.item--title{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.item--description{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.item--date{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.item--delete{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0.5rem;
    background-color: red;
    width: 30px;
    height: 30px;
    color: whitesmoke;
    border: none;
    border-radius: 100vw;
    cursor: pointer;
}

.item--delete:hover{
    background-color: darkred;
}

.item--done{
    position: absolute;
    bottom: -10px;
    left: 10px;
    padding: 0.5rem;
    background-color: green;
    width: 30px;
    height: 30px;
    color: whitesmoke;
    border: none;
    border-radius: 100vw;
    cursor: pointer;
}

.item--done:hover{
    background-color: darkgreen;
}