.todo--button{
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: rgba(12, 12, 139);
    border-radius: 100vw;
    transform: translate(-50%, 50%);
    font-size: 3rem;
    color: white;
}

.todo--button:hover{
    background-color: rgb(8, 8, 82);
    cursor: pointer;
}