.todo--counter{
    font-size: 1.5rem;
    font-weight: 700;
    color: #172917;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #696767;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: static;
    bottom: 30px;

}