:root{
    --main-bg-color: #F6E6CB;
    --main-txt-color:#E7D4B5 ;
    --button-color: #B6C7AA;
    --dark-brown: #6b5731;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
